// _mixins.scss

@mixin button-styles {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
    &:hover {
        background-color: $button-hover-color;
    }
}
