// _variables.scss

$primary-color: #b48c46; // Steel Blue
$background-color: #1adf3e; // Alice Blue
$widget-background: #f5f5f5; // White Smoke
$button-hover-color: #5f9ea0; // Cadet Blue
$font-family: Arial, sans-serif;
